{% extends "layout.html" %} 

{% block content %}
<div class='row'>
    <div id='chatbox' class='col-md-9'>
        <p>
            <h3>Chat area</h3></p>
        <ul>
            {% for chat in chatBank %}
            <li>{% if chat.name === username %} you {% else %} {{chat.name}} {% endif %} : {{chat.chatText}}</li>
            {% endfor %}
        </ul>
    </div>
    <div id='users' class='col-md-3'>
        <p>
            <h3>Users</h3></p>
    </div>
</div>
{% endblock %}

{% block chatform %}
<div class="container">
    <form action="/chat/{{username}}" method="POST">
        <label for="chat_field">Text:</label>
        <input name="chat" id="chat_field" type="text" />
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}